{% extends "base.html.twig" %}


{% block title %}
	Création d'une catégorie
{% endblock %}

{% block body %}
	<h1>Nouveau Catégorie</h1>


	{{ form_start(formView) }}

	{{ form_errors(formView) }}

	<div class="row">
		{{ form_row(formView.name) }}

	</div>
	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Créer la catégorie
	</button>

	{{ form_end(formView) }}

{% endblock %}
